# Node modules
user-service/node_modules/
notification-service/node_modules/

# Environment files
user-service/.env
notification-service/.env

# Build files
user-service/dist/
notification-service/dist/

# Logs
user-service/logs/
notification-service/logs/
*.log
